{% extends "::base.html.twig" %}

{% block title %}AppBundle:PrivateSpace:PrivateSpace{% endblock %}

{% block body %}
<h1>Welcome to the PrivateSpace:PrivateSpace page</h1>
<h2>Ma liste d'ami bonobo</h2>
<ul>
	{% for friend in friends %}
		<li>{{ friend.username|e }} - <a href="delete-from-friends/{{ friend.id|e }}">Delete from friends</a></li>
	{% endfor %}
</ul>


<h2>Liste des bonobos inscris sur le site</h2>
<ul>
    {% for user in users %}
        <li>Login : {{ user.username|e }} - Age : {{ user.age|e}} - Famille : {{ user.famille.name|e}} - Race : {{ user.race.name|e}} - Food : {{ user.food.name|e}} - {% if user in friends %}Vous etes déja ami avec ce bonobo{% else %}<a href="add-to-friend/{{ user.id|e }}">Add to friend</a>{% endif %}</li>
    {% endfor %}
</ul>
{% endblock %}


